.certification-container {
    width: 100%;
}
.certification-header {
    padding:0.4rem 1rem;
    margin: 0;
    background-color: var(--secondary-bg-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0;
    border-top: 4px solid var(--main-bg-color);
}
.certification-header div{
    display: flex;
    align-items: center;
}
.certification-header div h2{
    margin-bottom:0; 
}
.certification-title-left h2:nth-child(1){
    color: var(--highlight-colour);
    margin-right: 1rem;
}
.certification-title-left h2:nth-child(2){
    font-weight: 300;
}
.certification-title-right{
    text-align: right;
}
.certification-title-right h2{
    margin-right: 1rem;
    position: relative;
    top: -3px;
    font-weight: 300;
}
.certification-title-right svg{
    transition: 0.5s;
    height: 100%;
    width: 2rem;
}
.certification-link-placeholder {
    width: 2rem;
    height: 100%;
    display: inline-block;
}


/* Rainbow Glow Animation for SVG */
@keyframes rainbow-glow {
    0% {
        filter: drop-shadow(0 0 0.75px rgba(255,0,0,0.4)) drop-shadow(0 0 1.5px rgba(255,153,0,0.3)) drop-shadow(0 0 2.25px rgba(255,238,0,0.3)) drop-shadow(0 0 3px rgba(51,255,0,0.3)) drop-shadow(0 0 3.75px rgba(0,255,238,0.3)) drop-shadow(0 0 4.5px rgba(51,0,255,0.3)) drop-shadow(0 0 5.25px rgba(255,0,204,0.3));
    }
    20% {
        filter: drop-shadow(0 0 0.75px rgba(255,153,0,0.4)) drop-shadow(0 0 1.5px rgba(255,238,0,0.3)) drop-shadow(0 0 2.25px rgba(51,255,0,0.3)) drop-shadow(0 0 3px rgba(0,255,238,0.3)) drop-shadow(0 0 3.75px rgba(51,0,255,0.3)) drop-shadow(0 0 4.5px rgba(255,0,204,0.3)) drop-shadow(0 0 5.25px rgba(255,0,0,0.3));
    }
    40% {
        filter: drop-shadow(0 0 0.75px rgba(255,238,0,0.4)) drop-shadow(0 0 1.5px rgba(51,255,0,0.3)) drop-shadow(0 0 2.25px rgba(0,255,238,0.3)) drop-shadow(0 0 3px rgba(51,0,255,0.3)) drop-shadow(0 0 3.75px rgba(255,0,204,0.3)) drop-shadow(0 0 4.5px rgba(255,0,0,0.3)) drop-shadow(0 0 5.25px rgba(255,153,0,0.3));
    }
    60% {
        filter: drop-shadow(0 0 0.75px rgba(51,255,0,0.4)) drop-shadow(0 0 1.5px rgba(0,255,238,0.3)) drop-shadow(0 0 2.25px rgba(51,0,255,0.3)) drop-shadow(0 0 3px rgba(255,0,204,0.3)) drop-shadow(0 0 3.75px rgba(255,0,0,0.3)) drop-shadow(0 0 4.5px rgba(255,153,0,0.3)) drop-shadow(0 0 5.25px rgba(255,238,0,0.3));
    }
    80% {
        filter: drop-shadow(0 0 0.75px rgba(0,255,238,0.4)) drop-shadow(0 0 1.5px rgba(51,0,255,0.3)) drop-shadow(0 0 2.25px rgba(255,0,204,0.3)) drop-shadow(0 0 3px rgba(255,0,0,0.3)) drop-shadow(0 0 3.75px rgba(255,153,0,0.3)) drop-shadow(0 0 4.5px rgba(255,238,0,0.3)) drop-shadow(0 0 5.25px rgba(51,255,0,0.3));
    }
    100% {
        filter: drop-shadow(0 0 0.75px rgba(255,0,0,0.4)) drop-shadow(0 0 1.5px rgba(255,153,0,0.3)) drop-shadow(0 0 2.25px rgba(255,238,0,0.3)) drop-shadow(0 0 3px rgba(51,255,0,0.3)) drop-shadow(0 0 3.75px rgba(0,255,238,0.3)) drop-shadow(0 0 4.5px rgba(51,0,255,0.3)) drop-shadow(0 0 5.25px rgba(255,0,204,0.3));
    }
}

.certification-header.clickable .certification-title-right svg {
    /* Always visible, no opacity */
    filter: none;
    transition: filter 0.4s;
}

.certification-header.clickable:hover .certification-title-right svg {
    animation: rainbow-glow 2s linear infinite;
}


@media only screen and (max-width: 768px) {
    .certification-image{
        height: 7rem;
    }
}