.about-me-container{
    margin: 2rem 0;
    z-index: 1;
    position: relative;
    display: flex;
    text-align: left;
}
.about-me-desc{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.me-img-container {
    position: relative;
    display: inline-block;
    margin: 0 2rem 0 0;
    width: 20rem;
    height: 20rem;
}
.me {
    height: 20rem;
    width: 20rem;
    filter: grayscale(1);
    display: block;
    user-select: none;
    cursor: zoom-in;
}
.me-flashlight-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.degree-container{
    display:flex;
    padding:1rem;
    background-color: var(--secondary-bg-color);
}
.degree-container img{
    height: 7rem;
}
.degree-container h3{
    margin-bottom: 5px;
}
.degree-container div{
    padding: 0 1rem;
}

.career-container{
    text-align: left;
    padding-bottom: 5rem;
}

@media only screen and (max-width: 1399px) {
    .about-me-desc{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .about-me-container{
        flex-direction: column;
    }
    .me-img-container {
        width: 25rem;
        height: 25rem;
        margin:0 auto 2rem auto;
    }
    .me{
        width: 25rem;
        height: 25rem;
        margin:0;
    }
    .about-me-desc div:first-child{
        padding: 1rem;
        background-color: var(--secondary-bg-color);
    }
    .about-me-desc div:first-child h3{
        text-align: center;
    }
    .degree-container{
        margin-top: 2rem;
    }
}