.router-section{
    position: absolute;
    z-index: 3;
    bottom: 25%;
    text-align: left;
    font-size: 4rem;
    font-weight: 300;
}
.router-section div{
    margin-bottom: -0.75rem;
    transition: ease-in-out 0.25s;
}
.router-section div:hover{
    color:var(--highlight-colour);
}

@media only screen and (max-height: 404px) {
    .router-section{
        bottom:auto;
    }
}
@media only screen and (max-width: 767px) {
    .router-section{
        font-size: 5rem;
    }
}